default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: YOUR_USERNAME

development:
  <<: *default
  database: highload_blog_development

test:
  <<: *default
  database: highload_blog_test

production:
  <<: *default
  database: highload_blog_production
  username: highload_blog
  password: <%= ENV['HIGHLOAD_BLOG_DATABASE_PASSWORD'] %>
